<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/doc.css">

    <title>BUS Vocabulary Specification</title>
  </head>
  <body>
    <div>
      <h1>BUS Vocabulary Specification 1.0</h1>
      <h2>Namespace Document 15 November 2021</h2>
      <div>
        <h3>Latest Version:</h3>
        <p>http://bus-usu.herokuapp.com/bus/ontology#</p>
        <h3>Authors:</h3>
        <p>Erick Y, Rio FH, M Said A, Rizki I</p>
      </div>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
        <br />This work is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </div>
    </div>
    <div>
      <div id="abstract">
        <h2>Abstract</h2>
        <p>
          This specification describes the BUS language, defined as a dictionary of named properties and classes using W3C's RDF technology. <br> <br>

          BUS is a project devoted to information about properties of bus and it's operational routes using the Web. 
          Regardless of whether information is in people's heads, in physical or digital documents, or in the form of factual data, it can be linked.
          BUS does not compete with other travel booking and information Web sites; rather it provides 
          a simple approach in which different sites can tell basic parts about bus and it's routes.</p>
      </div>
      <div id="status">
        <h2>Status of This Document</h2>
        <p>
          The BUS specification is produced as part of the BUS-USU project creation in
          November-2021. The properties inside will not be changed as this is only a simple
          project (and possibly one time use). The BUS RDF namespace URI is fixed and 
          its identifier is not expected to change. But even if the RDF namespace URI is fixed,
          keep in mind that there is a possibility of us taking down this URI if it is no
          longer needed.
        </p>
      </div>
    </div>
    <div>
      <h2>BUS Vocabulary Terms</h2>
      <p>This is a complete index of all BUS class and property terms</p>
      <div id="example">
        <h3>Example</h3>
        <p>Here is a basic document describing a bus</p>
        <img src="/public/img/example.svg" alt="" width="400px">
      </div>
      <div id="listing">
        <h3>BUS cross-reference: Listing BUS Class and Properties</h3>
        <div id="class">
          <h4>Class</h4>
          <div class="term-card">
            <h5 class="term-title">Class: bus:Bus</h5>
            <p><i>Bus</i> - A bus</p>
            <div class="term-key">Status:</div>
            <div class="term-value">stable</div>
            <div class="term-key">Properties:</div>
            <div class="term-value">
              <!--TODO: INSERT ALL PROPERTY TERM-->
            </div>
          </div>
        </div>
      </div>


    </div>

    <footer>
    </footer>























    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>